.card {
    perspective: 1500px;
    position: relative;
    width: 100%;
    height: 100%;
}

.inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    border-radius: 0.75rem;
    position: relative;
}

.card.flipped .inner {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    user-select: none;
    line-height: 1;
}

.front-light {
    background-color: #094857;
    color: #ffffff;
    border: 1px solid #cbd5e1;
}

.front-dark {
    background-color: #094857;
    color: #ffffff;
    border: 1px solid #374151;
}

.back {
    background-color: #ffffff;
    color: #1f2937;
    transform: rotateY(180deg);
    border: 1px solid #cbd5e1;
}

.matched {
    background-color: #5d8572;
    color: #023728;
    box-shadow: 0 0 0 2px #244338 inset;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
}


.game-inner-wrapper {
    width: 80%;
}

@media (max-width: 640px) {
    .game-inner-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }

}