.passwordStrengthChecker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 300px;
    height: 50px;
}

.box input {
    position: absolute;
    inset: 2px;
    z-index: 2;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px 15px;
}

.password-strength {
    position: absolute;
    inset: 0;
    background: #f00;
}

.password-strength:nth-child(3),
.password-strength:nth-child(4) {
    filter: blur(5px);
}